#game-status {
    display: flex;
}
.board {
    margin: auto;
}
.row {
    margin: auto;
    display: flex;
}
.row:first-child .tile {
    border-top: 1px solid black;
}
.tile:first-child {
    border-left: 1px solid black;
}
.tile {
    margin: -1;
    width: calc(30em / var(--num-cols));
    aspect-ratio: 1/1;
    border: 1px solid black;
    border-left: none;
    border-top: none;
}
.input {
    margin: 1em;
    margin-left: 0;
    /* display: inline-flex; */
}
#input-warning {
    display: none;
}
#restart {
    margin: 1em;
    margin-left: 0;
}